In [11]:
import pandas as pd
import numpy as np
import glob

path = 'datasets'
files = glob.glob(path+'\*.csv')

#dataset = pd.read_csv('datasets\data.csv', sep=',')

In [12]:
mapped_files = map(pd.read_csv, files)
dataset = pd.concat(mapped_files)

In [13]:
dataset.head()

,Día,Temperaturas (°C) Máxima,Temperaturas (°C) Mínima,Temperaturas (°C) Promedio,Lluvia Diaria mm (litros/m²) Mes Actual,Lluvia Diaria mm (litros/m²) Acum. Actual,Lluvia Diaria mm (litros/m²) Promedio Histórico,Lluvia Diaria mm (litros/m²) Acum. Promedio Histórico,Viento Máximo Velocidad (Km/h),Viento Máximo Dirección (°),Viento Máximo Hora Local,Dirección del viento predominante
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,31.2,23.7,27.5,0.0,0.0,NaN,NaN,31.4,350.0,13:00,Norte
2,3,31.4,23.3,27.4,0.0,0.0,NaN,NaN,25.9,320.0,14:00,Nor-Noroeste
3,4,31.1,23.0,27.1,0.0,0.0,NaN,NaN,27.8,340.0,13:00,Norte
4,5,31.8,23.8,27.8,0.0,0.0,NaN,NaN,48.1,340.0,14:00,Nor-Noroeste

In [14]:
dataset.describe()

,Temperaturas (°C) Máxima,Temperaturas (°C) Mínima,Temperaturas (°C) Promedio,Lluvia Diaria mm (litros/m²) Mes Actual,Lluvia Diaria mm (litros/m²) Acum. Actual,Lluvia Diaria mm (litros/m²) Promedio Histórico,Lluvia Diaria mm (litros/m²) Acum. Promedio Histórico,Viento Máximo Velocidad (Km/h),Viento Máximo Dirección (°)
count,352.000000,354.000000,352.000000,370.000000,334.000000,36.0,0.0,355.000000,329.000000
mean,31.805682,24.836158,28.401705,11.464865,80.241916,0.0,NaN,23.520563,271.656535
std,1.556833,1.304489,1.020640,37.096255,91.195631,0.0,NaN,9.258842,92.973675
min,23.300000,20.200000,24.100000,0.000000,0.000000,0.0,NaN,0.000000,10.000000
25%,30.900000,24.000000,27.700000,0.000000,9.650000,0.0,NaN,16.700000,180.000000
50%,31.950000,25.000000,28.400000,0.000000,51.500000,0.0,NaN,22.200000,310.000000
75%,32.800000,25.800000,29.200000,6.000000,115.900000,0.0,NaN,27.800000,340.000000
max,35.700000,28.600000,30.900000,414.200000,414.200000,0.0,NaN,62.900000,360.000000

In [17]:
dataset.describe(include='object')

        Día Viento Máximo Hora Local Dirección del viento predominante
count   401                      331                               334
unique   34                       52                                16
top       1                    15:00                      Nor-Noroeste
freq     12                       55                                88

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 401 entries, 0 to 33
Data columns (total 12 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Día                                                    401 non-null    object
 1   Temperaturas (°C) Máxima                               352 non-null    float64
 2   Temperaturas (°C) Mínima                               354 non-null    float64
 3   Temperaturas (°C) Promedio                             352 non-null    float64
 4   Lluvia Diaria mm (litros/m²) Mes Actual                370 non-null    float64
 5   Lluvia Diaria mm (litros/m²) Acum. Actual              334 non-null    float64
 6   Lluvia Diaria mm (litros/m²) Promedio Histórico        36 non-null     float64
 7   Lluvia Diaria mm (litros/m²) Acum. Promedio Histórico  0 non-null      float64
 8   Viento Máximo Velocidad (Km/h)                         355 non-null    float64
 9   Viento Máximo Dirección (°)                            329 non-null    float64
 10  Viento Máximo Hora Local                               331 non-null    object
 11  Dirección del viento predominante                      334 non-null    object
dtypes: float64(9), object(3)
memory usage: 40.7+ KB

In [16]:
dataset.shape

(401, 12)

In [18]:
data = dataset.copy()

In [19]:
data.columns = data.columns.str.replace(' ', '_')
data.columns

Index(['Día', 'Temperaturas_(°C)_Máxima', 'Temperaturas_(°C)_Mínima',
       'Temperaturas_(°C)_Promedio', 'Lluvia_Diaria_mm_(litros/m²)_Mes_Actual',
       'Lluvia_Diaria_mm_(litros/m²)_Acum._Actual',
       'Lluvia_Diaria_mm_(litros/m²)_Promedio_Histórico',
       'Lluvia_Diaria_mm_(litros/m²)_Acum._Promedio_Histórico',
       'Viento_Máximo_Velocidad_(Km/h)', 'Viento_Máximo_Dirección_(°)',
       'Viento_Máximo_Hora_Local', 'Dirección_del_viento_predominante'],
      dtype='object')

In [20]:
data.columns = data.columns.str.replace(r'[\^0-9]', '')
data.columns

Index(['Día', 'Temperaturas_(°C)_Máxima', 'Temperaturas_(°C)_Mínima',
       'Temperaturas_(°C)_Promedio', 'Lluvia_Diaria_mm_(litros/m²)_Mes_Actual',
       'Lluvia_Diaria_mm_(litros/m²)_Acum._Actual',
       'Lluvia_Diaria_mm_(litros/m²)_Promedio_Histórico',
       'Lluvia_Diaria_mm_(litros/m²)_Acum._Promedio_Histórico',
       'Viento_Máximo_Velocidad_(Km/h)', 'Viento_Máximo_Dirección_(°)',
       'Viento_Máximo_Hora_Local', 'Dirección_del_viento_predominante'],
      dtype='object')

In [21]:
data.columns = data.columns.str.normalize('NFKD').str.encode('ascii',errors="ignore")
data.columns

Index([                                                  b'Dia',
                                     b'Temperaturas_(C)_Maxima',
                                     b'Temperaturas_(C)_Minima',
                                   b'Temperaturas_(C)_Promedio',
                     b'Lluvia_Diaria_mm_(litros/m2)_Mes_Actual',
                   b'Lluvia_Diaria_mm_(litros/m2)_Acum._Actual',
             b'Lluvia_Diaria_mm_(litros/m2)_Promedio_Historico',
       b'Lluvia_Diaria_mm_(litros/m2)_Acum._Promedio_Historico',
                              b'Viento_Maximo_Velocidad_(Km/h)',
                                  b'Viento_Maximo_Direccion_()',
                                    b'Viento_Maximo_Hora_Local',
                           b'Direccion_del_viento_predominante'],
      dtype='object')

In [22]:
data.columns = data.columns.str.decode('utf-8')
data.columns

Index(['Dia', 'Temperaturas_(C)_Maxima', 'Temperaturas_(C)_Minima',
       'Temperaturas_(C)_Promedio', 'Lluvia_Diaria_mm_(litros/m2)_Mes_Actual',
       'Lluvia_Diaria_mm_(litros/m2)_Acum._Actual',
       'Lluvia_Diaria_mm_(litros/m2)_Promedio_Historico',
       'Lluvia_Diaria_mm_(litros/m2)_Acum._Promedio_Historico',
       'Viento_Maximo_Velocidad_(Km/h)', 'Viento_Maximo_Direccion_()',
       'Viento_Maximo_Hora_Local', 'Direccion_del_viento_predominante'],
      dtype='object')

In [23]:
data.head()

,Dia,Temperaturas_(C)_Maxima,Temperaturas_(C)_Minima,Temperaturas_(C)_Promedio,Lluvia_Diaria_mm_(litros/m2)_Mes_Actual,Lluvia_Diaria_mm_(litros/m2)_Acum._Actual,Lluvia_Diaria_mm_(litros/m2)_Promedio_Historico,Lluvia_Diaria_mm_(litros/m2)_Acum._Promedio_Historico,Viento_Maximo_Velocidad_(Km/h),Viento_Maximo_Direccion_(),Viento_Maximo_Hora_Local,Direccion_del_viento_predominante
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,31.2,23.7,27.5,0.0,0.0,NaN,NaN,31.4,350.0,13:00,Norte
2,3,31.4,23.3,27.4,0.0,0.0,NaN,NaN,25.9,320.0,14:00,Nor-Noroeste
3,4,31.1,23.0,27.1,0.0,0.0,NaN,NaN,27.8,340.0,13:00,Norte
4,5,31.8,23.8,27.8,0.0,0.0,NaN,NaN,48.1,340.0,14:00,Nor-Noroeste

In [26]:
cat_col = data.select_dtypes(include=["object"]).columns.to_list()
cat_col

['Dia', 'Viento_Maximo_Hora_Local', 'Direccion_del_viento_predominante']

In [27]:
cat_num = data.select_dtypes(include=['float64', 'int64']).columns.to_list()
cat_num

['Temperaturas_(C)_Maxima',
 'Temperaturas_(C)_Minima',
 'Temperaturas_(C)_Promedio',
 'Lluvia_Diaria_mm_(litros/m2)_Mes_Actual',
 'Lluvia_Diaria_mm_(litros/m2)_Acum._Actual',
 'Lluvia_Diaria_mm_(litros/m2)_Promedio_Historico',
 'Lluvia_Diaria_mm_(litros/m2)_Acum._Promedio_Historico',
 'Viento_Maximo_Velocidad_(Km/h)',
 'Viento_Maximo_Direccion_()']